<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Gathering for Open Science Hardware - 2018</h2>
                </div>
            </div>
            <div class="row container">
                <div style="text-align: justify;">
                    <p>The Gathering for Open Science Hardware (GOSH) is a diverse, global community working to enhance the sharing of open, scientific technologies.</p>
                    <p>In 2018, GOSH conference is taking place in China with the goal to build a roadmap to bring together the people, skills and tools needed to make open science hardware ubiquitous by 2025. Nearly 100 participants from all around the world are expected at the event hosted at Tsinghua University premises. Apart from them, there will be academic and industrial people attending the event to meet the great minds.</p>
                    <p>I will be speaking at the event on topics related to open source communities and hardware and will be hosting a meetup to gather like-minded university students who like to contribute to open source communities and widen the reach of technology by organizing outreach programs in their universities, sharing the knowledge and experience they gathered throughout this event.</p>
                    <br />
                </div>
                <center><a href="/register" class="page-scroll btn btn-xl">Register!</a></center>
            </div>
        </div>
    </section>