<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}

    <body id="page-top" class="index">

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><s>404</s><br></div>
                <div class="intro-lead-in">10-13 October 2018</div>
                <div class="intro-lead-in">Tsinghua University, Shenzhen, China</div>
                <a href="#" class="page-scroll btn btn-xl">We are not attending :(</a>
            </div>
        </div>
    </header>
    </body>
</html>